# ADD OPEN-UTILS REPO AS SUBMODULE
[submodule "open-utils"]
    path = app/open-utils
    url = https://github.com/sandokanCat/open-utils
    branch = main
    ignore = dirty

# ADD ESTOPA REPO AS SUBMODULE
[submodule "estopa"]
    path = public/estopa
    url = https://github.com/sandokanCat/estopa
    branch = main
    ignore = dirty
