# ADD EXTERNAL REPOS AS SUBMODULES
[submodule "PHPdotenv"]
    path = app/PHPdotenv
    url = https://github.com/vlucas/phpdotenv
    branch = master
    ignore = all

[submodule "PHPMailer"]
    path = app/PHPMailer
    url = https://github.com/PHPMailer/PHPMailer
    branch = master
    ignore = all

# ADD OWN REPOS AS SUBMODULES
[submodule "git-submodule-sync"]
    path = public/git-submodule-sync
    url = https://github.com/sandokanCat/git-submodule-sync
    branch = main
    ignore = none

[submodule "document-integrity-tools"]
    path = public/document-integrity-tools
    url = https://github.com/sandokanCat/document-integrity-tools
    branch = main
    ignore = none

[submodule "open-utils"]
    path = public/open-utils
    url = https://github.com/sandokanCat/open-utils
    branch = main
    ignore = none
