/* FALLBACK WITHOUT JS */
.js-disabled {
    display: none;
}

/* ACTIVE WHEN JS IS ENABLED */
.js-enabled {
    display: block;
}

/* EXCEPTIONS */
nav ul.js-enabled,
#random-phrases.js-enabled {
    display: flex;
}
#other-data.js-enabled {
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 480px) {
    #other-data.js-enabled {
        grid-template-columns: repeat(1, 1fr);
    }
}