/* FALLBACK WITHOUT JS */
.js-disabled {
    display: none;
}

/* ACTIVE WHEN JS IS ENABLED */
.js-enabled {
    display: block;
}

/* EXCEPTIONS */
nav ul.js-enabled,
#burger-nav.js-enabled {
    display: flex;
}