/* FALLBACK WITHOUT JS */
.js-disabled {
    display: none;
}

/* ACTIVE WHEN JS IS ENABLED */
.js-enabled {
    display: block;
}

/* BURGER MENU EXCEPTION */
#burger-nav.js-enabled {
    display: flex;
}