#cookies-bar {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    min-height: auto;
    background-color: #000000e0;
    font-size: small;
}
#cookies-bar p {
    margin: 0;
    text-align: center;
}
#cookies-bar button {
    background-color: var(--accent-1);
    color: var(--accent-2);
    font-weight: 700;
    border-radius: 7px;
    padding: 2.5px 5px;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 768px) { /* TABLET */
    #cookies-bar {
        text-align: justify;
    }
}
@media screen and (max-width: 360px) { /* PHONE */
    #cookies-bar {
        text-align: justify;
    }
}