/* STYLES FOR RTL LANGUAGES */

/* NAV.CSS */
html[dir="rtl"] nav {
    left: auto;
    right: 20px;
}
html[dir="rtl"] #theme-dark-btn {
    transform: scaleX(-1);
}

/* ICONS.CSS */
html[dir="rtl"] .icons-color-1 {
    transform: scaleX(-1);
}

/* LEFT-PANEL.CSS */
html[dir="rtl"] h3 {
    padding-left: auto;
    padding-right: 12px;
    border-left: none;
    border-right: 7px solid var(--accent-1);
}
html[dir="rtl"] #left-panel li {
    padding-left: auto;
    padding-right: 19px;
}
html[dir="rtl"] #contact address {
    margin-left: auto;
    margin-right: 40px;
}

/* RIGHT-PANEL.CSS */
html[dir="rtl"] article {
    margin: 0 10% 0 5%;
}
html[dir="rtl"] h5 {
    margin: 0 10% 15px 5%;
}
html[dir="rtl"] article ol {
    margin: 0 20% 0 5%;
}
html[dir="rtl"] #carousel h6 {
    margin-left: auto;
    margin-right: 10%;
}
html[dir="rtl"] #carousel {
    margin: 0 0 30px -5dvw;
    width: calc(100% + 5dvw);
}
@media screen and (max-width: 768px) { /* TABLET */
    html[dir="rtl"] #carousel {
        width: 100%;
    }
}

/* CAROUSEL.CSS */
html[dir="rtl"] .carousel-control svg {
    transform: scaleX(-1);
}
html[dir="rtl"] .carousel-scrollbar::after {
    left: auto;
    right: var(--scrollbar-offset, 0%);
    transition:
        right 0.6s ease-in-out,
        width 0.6s ease-in-out;
}
html[dir="rtl"] #carousel-fallback {
    direction: rtl;
}

/* BOTTOM-CONTAINER.CSS */
html[dir="rtl"] #workExp h5 {
    margin-right: 5%;
    margin-left: 0;
}
html[dir="rtl"] #workExp p {
    margin-right: 10%;
    margin-left: 0;
}
html[dir="rtl"] .other-links {
    right: auto;
    left: 2.5%;
}
html[dir="rtl"] #other-data ol {
    margin-left: auto;
    margin-right: 1dvw;
}
@media screen and (max-width: 768px) { /* TABLET */
    html[dir="rtl"] #other-data ul {
        margin-left: auto;
        margin-right: 6dvw;
    }
    html[dir="rtl"] .other-links {
        right: auto;
        left: 5%;
    }
}

/* BURGER.CSS */
html[dir="rtl"] .icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-top {
    --rotate: 45deg;
}
html[dir="rtl"] .icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-bottom {
    --rotate: -45deg;
}
html[dir="rtl"] #github-icon.icons-snippet.active {
    --translate-x: 110px;
}
html[dir="rtl"] #vercel-icon.icons-snippet.active {
    --translate-x: 80px;
}

/* SIGNATURE.CSS */
html[dir="rtl"] #signature {
    right: auto;
    left: 2.5%;
}
@media screen and (max-width: 768px) { /* TABLET */
    html[dir="rtl"] #signature {
        right: auto;
        left: 5%;
    }
}