#signature {
    position: absolute;
    top: -38px;
    right: 2.5dvw;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) { /* TABLET */
    #signature {
        right: 5dvw;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    #signature {
        right: 7dvw;
    }
}