/* BOTTOM CONTAINER LAYOUT & STRUCTURE */
#workExp article {
    width: 90%;
    margin: 0 auto;
}
#workExp h5 {
    margin-right: 0;
    margin-left: 5%;
}
#workExp h5 span {
    text-transform: uppercase;
}
#workExp h6 {
    margin-right: 0;
    margin-left: 0;
}
#workExp p {
    order: 3;
    margin: auto 0 auto 10%;
}
.others {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.other-links {
    position: absolute;
    top: 13%;
    right: 2.5%;
    height: 30px;
}
.other-links ul {
    display: flex;
    gap: 20px;
}
.other-links button {
    z-index: 2;
    position: absolute;
    right: 0;
}
.other-links ul a {
    z-index: 1;
}
#other-data {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px 5dvw;
    padding: 0 5dvw;
    align-items: center;
}
#other-data ol {
    list-style: disc;
    margin-left: 1dvw;
}
#other-data ol li + li {
    margin-top: 15px;
}
#other-data p {
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
    font-size: 1.2rem;
}

/* PORTFOLIO SECTION */
#portfolio img {
    filter: var(--imgs-filter);
    width: 60dvw;
}
#portfolio img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) { /* TABLET */
    #workExp article {
        width: 80%;
    }
    #workExp p {
        text-align: justify;
    }
    .other-links {
        top: 10%;
        right: 5%;
    }
    #other-data {
        padding: 0 10dvw;
    }
    #other-data ul {
        margin-left: 6dvw;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    #workExp p {
        text-align: center;
    }
    #other-data {
        grid-template-columns: repeat(1,1fr);
    }
}