/* MAIN MENU POSITION */
nav {
    position: fixed;
    top: 20px;
    left: 20px;
    gap: 20px;
    z-index: 998;
}

/* LANG MENU */
#lang-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#lang-menu button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}