/* GLOBAL STYLES */
.icons-scale { /* INITIAL SCALE */
    transform: scale(1);
    transition: transform 0.3s ease;
}
.icons-scale:hover { /* HOVER SCALE */
    transform: scale(1.2);
}

/* SPECIFIC COLORS */
.icons-color-1 { /* LEFT-PANEL & MODAL */
    color: var(--accent-1);
}
.icons-color-2 { /* RIGHT-PANEL & BOTTOM-CONTAINER*/
    color: var(--accent-2);
}