/* GLOBAL ICON SNIPPET */
.icons-snippet { /* INITIAL STATE */
    --scale: 1;
    --translate-x: 0px;
    --translate-y: 0px;
    --rotate: 0deg;
    --transition: 0.5s;
    --cubic-bezier: cubic-bezier(0.68, -0.6, 0.32, 1.6);

    will-change:
        opacity,
        transform;
    opacity: 0;
    transform:
        scale(var(--scale))
        translate(
            var(--translate-x),
            var(--translate-y)
        )
        rotate(var(--rotate));
    transition:
        opacity var(--transition) ease,
        transform var(--transition) var(--cubic-bezier);
    pointer-events: none;
}
.icons-snippet:hover { /* HOVER STATE */
    --scale: 1.2;
}
.icons-snippet.active,
.icons-snippet.selected { /* ACTIVE STATE */
    opacity: 1;
    transition-delay: 0.2s, 0s;
    pointer-events: auto;
}

/* SPECIFIC COLORS */
.icons-color-1 { /* LEFT-PANEL & MODAL */
    color: var(--accent-1);
}
.icons-color-2 { /* RIGHT-PANEL & BOTTOM-CONTAINER*/
    color: var(--accent-2);
}
