body {
    background-color: var(--body-bg);
    color: var(--body-txt);
}
picture source { /* JUST IN CASE */
    pointer-events: none;
}
h4,
section {
    margin-bottom: 50px;
}
#bottom-container section:last-of-type {
    margin-bottom: 0;
}
article + article {
    margin-top: 30px;
}

/* PROVISIONAL */
/* * {
    outline: 1px solid red;
} */