/* TYPOGRAPHY STYLES */
body {
    font-family: 'PT Sans', Tahoma, Geneva;
}
h1, h3, h4 {
    font-family: 'League Spartan', Impact, Charcoal;
}
h2, h6, label {
    font-family: Montserrat, 'Segoe UI', 'Lucida Grande';
}
h3:first-child + ul,
h5 {
    font-family: Kollektif, Verdana, 'Bitstream Vera Sans';
    letter-spacing: 0.05em;
}
strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}

/* TYPOGRAPHY STRUCTURE */
h1 {
    max-width: 400px;
    font-weight: 700;
    line-height: 0.85;
    text-align: center;
    font-size: 76px;
    font-size: 4.75rem;
    font-size: clamp(3rem, 8dvw, 4.75rem) !important;
}
h2 {
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 1.25rem;
    font-size: clamp(1.125rem, 3dvw, 1.25rem) !important;
}
p {
    text-align: justify;
}
h3 {
    padding-left: 12px;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    font-size: clamp(1.5rem, 5dvw, 2rem) !important;
}
h4 {
    width: 100%;
    padding: 5px 5%;
    font-weight: 700;
    font-size: 32px;
    font-size: 2rem;
    font-size: clamp(1.5rem, 5dvw, 2rem) !important;
}
#bottom-container h4 {
    text-align: center;
}
h5 {
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}
h5 span {
    text-transform: none;
    font-style: normal;
}
h6, label {
    font-size: 18px;
    font-size: 1.125rem;
    font-size: clamp(1rem, 3dvw, 1.125rem) !important;
}
li span {
    font-style: italic;
}

/* INTERACTIVE ELEMENTS */
a {
    text-decoration: underline;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) { /* TABLET */
    h1 {
        font-size: 48px;
        font-size: 3rem;
    }
    h2 {
        font-size: 18px;
        font-size: 1.125rem;
    }
    p {
        text-align: center;
    }
    h3 {
        font-size: 24px;
        font-size: 1.5rem;
    }
    h4 {
        text-align: center;
        font-size: 24px;
        font-size: 1.5rem;
    }
    h6, label {
        font-size: 16px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    h1 {
        max-width: 300px;
        font-size: 60px;
        font-size: 3.75rem;
    }
}