/* JS HAMBURGER MENU */
#burger-nav {
    top: 13%;
    right: 2.5%;
}
#burger-links {
    position: relative;
    width: 0;
    height: 0;
}
#burger-btn {
    z-index: 2;
}
#burger-btn,
#github-icon,
#vercel-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}
#burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}
#burger-icon-top,
#burger-icon-middle,
#burger-icon-bottom {
    display: block;
    width: 30px;
    height: 5px;
    background: var(--accent-2);
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6),
                width 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
#burger-btn[aria-expanded="true"] #burger-icon-middle {
    width: 0;
}
#burger-btn[aria-expanded="true"] #burger-icon-top {
    transform: rotate(-45deg) translate(-9px, 9px);
}
#burger-btn[aria-expanded="true"] #burger-icon-bottom {
    transform: rotate(45deg) translate(-9px, -9px);
}
#github-icon,
#vercel-icon {
    transform: translateX(0);
    opacity: 0;
    transition:
        transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6),
        opacity 0.6s ease;
    transition-delay: 0s, 0s;
    pointer-events: none;
    z-index: 1;
}
#github-icon.active,
#vercel-icon.active {
    opacity: 1;
    transition-delay: 0s, 0.2s;
    pointer-events: auto;
}
#github-icon.active {
    transform: translateX(-100px);
}
#vercel-icon.active {
    transform: translateX(-50px);
}

/* FALLBACK MENU */
#menu-fallback {
    position: absolute;
    top: 13%;
    right: 2.5%;
}
#menu-fallback ul {
    display: flex;
    gap: 20px;
}

/* RESPONSIVE LAYOUT */
/* @media screen and (max-width: 768px) { TABLET
    #burger-nav {
        gap: 10px;
    }
    #burger-links {
        gap: 10px;
    }
}
@media screen and (max-width: 360px) { PHONE
    #burger-nav {
        gap: 5px;
    }
    #burger-links {
        gap: 5px;
    }
} */