/* JS HAMBURGER MENU */
#burger-icon,
#github-icon,
#vercel-icon {
    width: 30px;
    height: 30px;
}
#burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#burger-icon-top,
#burger-icon-middle,
#burger-icon-bottom {
    display: block;
    width: 100%;
    height: 5px;
    background: var(--accent-2);
}
.icons-snippet #burger-icon-top,
.icons-snippet #burger-icon-bottom {
    translate: var(--translate-x) var(--translate-y);
    rotate: var(--rotate);
    transition:
        translate var(--transition) var(--cubic-bezier),
        rotate var(--transition) var(--cubic-bezier);
}
.icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-top {
    --translate-y: 12.5px;
    --rotate: -45deg;
}
.icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-bottom {
    --translate-y: -12.5px;
    --rotate: 45deg;
}
.icons-snippet #burger-icon-middle {
    will-change: width;
    transition: width var(--transition) var(--cubic-bezier);
}
.icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-middle {
    width: 0;
}
#github-icon,
#vercel-icon {
    position: absolute;
}
#github-icon.icons-snippet.active {
    --translate-x: -110px;
}
#vercel-icon.icons-snippet.active {
    --translate-x: -80px;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 360px) { /* PHONE */
    #burger-icon,
    #github-icon,
    #vercel-icon {
        width: 22.5px;
        height: 22.5px;
    }
    #burger-icon-top,
    #burger-icon-middle,
    #burger-icon-bottom {
        height: 4px;
    }
    .icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-top {
        --translate-y: 9.5px;
    }
    .icons-snippet#burger-btn[aria-expanded="true"] #burger-icon-bottom {
        --translate-y: -9.5px;
    }
    #github-icon.icons-snippet.active {
        --translate-x: -72px;
    }
    #vercel-icon.icons-snippet.active {
        --translate-x: -52px;
    }
}