/* JS HAMBURGER MENU */
#burger-nav {
    top: 13%;
    right: 2.5%;
}
#burger-links {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    width: 0;
    height: 30px;
}
#burger-btn-wrapper {
    display: flex;
    align-items: center;
    z-index: 2;
}
#burger-btn-wrapper,
#github-icon,
#vercel-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}
#burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}
#burger-icon-top,
#burger-icon-middle,
#burger-icon-bottom {
    display: block;
    width: 30px;
    height: 5px;
    background: var(--accent-2);
}
#burger-icon-middle {
    transition: width 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
#burger-btn[aria-expanded="true"] #burger-icon-middle {
    width: 0;
}
#burger-btn[aria-expanded="true"] #burger-icon-top {
    --translate-x: -9px;
    --translate-y: 9px;
    --rotate: -45deg;
}
#burger-btn[aria-expanded="true"] #burger-icon-bottom {
    --translate-x: -9px;
    --translate-y: -9px;
    --rotate: 45deg;
}
#github-icon.active {
    --translate-x: -100px;
}
#vercel-icon.active {
    --translate-x: -50px;
}

/* FALLBACK MENU */
#menu-fallback {
    position: absolute;
    top: 13%;
    right: 2.5%;
}
#menu-fallback ul {
    display: flex;
    gap: 20px;
}
