/* COMMON STYLES */
#carousel h6 {
    margin-left: 10%;
}
.carousel-track {
    display: flex;
    padding: 0;
    transition: transform 0.6s ease-in-out;
    will-change: transform;
    list-style: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.carousel-track li {
    flex: 0 0 100%;
    line-height: 0;
}
.carousel-track picture {
    display: block;
    width: 100%;
}
.carousel-track img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 877 / 619;
    object-fit: cover;
    filter: var(--imgs-filter);
}

/* JS CAROUSEL */
.carousel-container {
    position: relative;
    order: 3;
}
.carousel-track {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    gap: 0;
}
.carousel-imgs {
    overflow: hidden;
}
.carousel-control {
    z-index: 997;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    pointer-events: none;
}
.carousel-advance,
.carousel-back {
    all: unset;
    cursor: pointer;
    pointer-events: all;
    color: var(--accent-2);
}
.carousel-scrollbar {
    position: relative;
    height: 7px;
    background-color: var(--body-bg);
    overflow: hidden;
}
.carousel-scrollbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: var(--scrollbar-offset, 0%);
    height: 100%;
    width: var(--scrollbar-width, 0%);
    background-color: var(--accent-1);
    transition:
        left 0.6s ease-in-out,
        width 0.6s ease-in-out;
}

/* FALLBACK CAROUSEL */
article noscript {
    order: 3;
}
#carousel-fallback {
    all: unset;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
#carousel-fallback img {
    pointer-events: none;
}
#carousel-fallback::-webkit-scrollbar {
    height: 7px;
    background-color: var(--body-bg);
}
#carousel-fallback::-webkit-scrollbar-thumb {
    background-color: var(--accent-1);
    pointer-events: all;
    cursor: pointer;
}
#carousel-fallback::-webkit-scrollbar-track {
    background-color: var(--body-bg);
}

/* RESPONSIVE BREAKPOINTS */
@media (hover: none) { /* TOUCH DEVICES */
    #carousel-fallback {
        scrollbar-width: auto;
    }
    #carousel-fallback::-webkit-scrollbar {
        height: 12px;
    }
    .carousel-control {
        display: none;
    }
}
@media screen and (max-width: 768px) { /* TABLET */
    #carousel {
        width: 100%;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    #carousel {
        background-color: var(--panel-bg);
    }
}