/* SETTINGS */
@import url("../base/variables.css");

/* GENERIC */
@import url("https://open-utils-dev-sandokan-cat.vercel.app/css/custom-reset.css");

/* ELEMENTS */
@import url("../base/base.css");
@import url("../base/fonts.css");
@import url("../base/typography.css");

/* UTILITIES */
@import url("../utils/icons.css");

/* SPECIFIC STYLES */
#error-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr fit-content(100%);
    width: 90vw;
    height: calc(100vh - 100px);
    margin: 50px auto;
}
#error-container header,
#error-container main,
#error-container footer,
#error-container p {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 50px 0;
    text-align: center;
}
#error-container h1 {
    min-width: 100%;
    padding: 15px 0 0 0;
    line-height: 1;
    background-color: var(--accent-1);
    color: var(--accent-2);
    font-size: 160px;
    font-size: 10rem;
    font-size: clamp(6rem, 10vw, 10rem) !important;
}
#error-container h2 {
    font-weight: 400;
    font-size: 48px;
    font-size: 3rem;
    font-size: clamp(1.5rem, 4vw, 3rem) !important;
}
#error-container a {
    background-color: var(--accent-1);
    color: var(--accent-2);
    font-weight: 700;
    border-radius: 7px;
    padding: 2.5px 5px;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    font-size: 24px;
    font-size: 1.5rem;
    font-size: clamp(1.1rem, 2.5vw, 1.5rem) !important;
}
#error-container #signature {
    position: relative;
    text-align: end;
    top: auto;
    right: auto;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 768px) { /* TABLET */
    #error-container {
        width: 100vw;
    }
    #error-container h1 {
        font-size: 120px;
        font-size: 7.5rem;
    }
    #error-container h2 {
        padding: 0 5vw;
        font-size: 32px;
        font-size: 2rem;
    }
    #error-container a {
        font-size: 20.8px;
        font-size: 1.3rem;
    }
    #error-container #signature {
        right: 5vw;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    #error-container h1 {
        font-size: 96px;
        font-size: 6rem;
    }
    #error-container h2 {
        padding: 0 10vw;
    }
    #error-container a {
        font-size: 17.6px;
        font-size: 1.1rem;
    }
    #error-container #signature {
        right: 10vw;
    }
}