/* SETTINGS */
@import url("../base/variables.css");

/* GENERIC */
@import url("../../public/open-utils/public/css/custom-reset.css") layer(open-utils);

/* ELEMENTS */
@import url("../base/base.css");
@import url("../base/fonts.css");
@import url("../base/typography.css");

/* UTILITIES */
@import url("../utils/icons.css");

/* OBJECTS */
@import url("../layout/grid.css");
@import url("../layout/nav.css");

/* STATES */
@import url("../states/active-js.css");
@import url("../states/noscript.css");
@import url("../states/rtl.css");

/* SPECIFIC STYLES */
#error-container {
    margin-top: 15dvh;
    height: 85dvh;
}
#error-container main {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin: 0 auto;
    gap: 5dvh 0;
}
#error-container h1 {
    min-width: 100%;
    padding: 15px 0 0 0;
    line-height: 1;
    background-color: var(--accent-1);
    color: var(--accent-2);
    font-size: 160px;
    font-size: 10rem;
    font-size: clamp(6rem, 10vw, 10rem) !important;
}
#error-container h2 {
    font-weight: 400;
    font-size: 48px;
    font-size: 3rem;
    font-size: clamp(1.5rem, 4vw, 3rem) !important;
}
#return-btn-wrapper {
    margin-top: 10dvh;
    text-align: center;
}
#return-btn-wrapper a {
    background-color: var(--accent-1);
    color: var(--accent-2);
    font-weight: 700;
    border-radius: 7px;
    padding: 2.5px 5px;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    font-size: 24px;
    font-size: 1.5rem;
    font-size: clamp(1.1rem, 2.5vw, 1.5rem) !important;
}
#error-container #signature {
    position: absolute;
    right: 5dvw;
    bottom: 5dvh;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 768px) { /* TABLET */
    #error-container h1 {
        font-size: 120px;
        font-size: 7.5rem;
    }
    #error-container h2 {
        padding: 0 5vw;
        font-size: 32px;
        font-size: 2rem;
    }
    #error-container a {
        font-size: 20.8px;
        font-size: 1.3rem;
    }
    #error-container #signature {
        right: 5vw;
    }
}
@media screen and (max-width: 480px) { /* MEDIUM PHONE */
    #error-container h1 {
        font-size: 96px;
        font-size: 6rem;
    }
    #error-container h2 {
        padding: 0 10vw;
    }
    #error-container a {
        font-size: 17.6px;
        font-size: 1.1rem;
    }
    #error-container #signature {
        right: 10vw;
    }
}