/* SETTINGS */
@import url("../base/variables.css");

/* GENERIC */
@import url("../../public/open-utils/public/css/custom-reset.css") layer(open-utils);

/* ELEMENTS */
@import url("../base/base.css");
@import url("../base/fonts.css");
@import url("../base/typography.css");

/* UTILITIES */
@import url("../utils/icons.css");

/* STATES */
@import url("../states/rtl.css");

/* FORM LAYOUT */
body:has(form[action="partials/contact/form.php"]) {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--panel-bg);
}
form[action="partials/contact/form.php"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
        min-content
        min-content
        min-content
        1fr
        min-content
        min-content
        min-content;
    grid-template-areas:
        "response response"
        "name email"
        "subject subject"
        "content content"
        "consent consent"
        "reset send"
        "signature signature";
    gap: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px 50px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-group.group-name {
    grid-area: name;
}
.form-group.group-email {
    grid-area: email;
}
.form-group.group-subject {
    grid-area: subject;
}
.form-group.group-content {
    grid-area: content;
    height: 100%;
}
.form-group.group-content textarea {
    flex-grow: 1;
    resize: none;
    height: 100%;
}
.form-group.group-consent {
    grid-area: consent;
    flex-direction: row;
    align-items: center;
}
.form-group.group-reset {
    grid-area: reset;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.form-group.group-send {
    grid-area: send;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#form-response {
    grid-area: response;
    text-align: center;
}
#signature {
    grid-area: signature;
    text-align: end;
}

/* FORM ELEMENTS */
label {
    color: var(--body-txt);
    font-size: 18px;
    font-size: 1.125rem;
    font-size: clamp(1rem, 3dvw, 1.125rem) !important;
    font-weight: 700;
}
label:has(+ input:required)::after,
label:has(+ textarea:required)::after {
    content: " *";
    font-weight: 700;
    color: var(--accent-1)
}
label:has(+ input:optional)::after,
label:has(+ textarea:optional)::after {
    content: " (optional)";
    color: var(--accent-1)
}
input,
select,
textarea,
progress,
meter {
    padding: 3px 8px;
    background-color: transparent;
    border: 2px solid var(--panel-bg);
    color: var(--body-txt);
}
input:hover,
select:hover,
textarea:hover,
progress:hover,
meter:hover {
    border: 2px solid var(--accent-1);
}
input:focus,
select:focus,
textarea:focus,
progress:focus,
meter:focus {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    border-radius: 7px;
    padding: 2.5px 5px;
    width: fit-content;
    font-size: 24px;
    font-size: 1.5rem;
    font-size: clamp(1.1rem, 2.5dvw, 1.5rem) !important;
}
input[type="reset"] {
    background-color: transparent;
    color: var(--accent-1);
    border: 1px solid var(--accent-1);
    font-weight: 600;
}
input[type="submit"] {
    background-color: var(--accent-1);
    color: var(--accent-2);
    border: none;
    font-weight: 700;
}
/* input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 12px;
    background-color: var(--panel-bg);
}
input[type="checkbox"]::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    width: 6px;
    height: 10px;
    border-right: 3px solid var(--accent-2);
    border-bottom: 3px solid var(--accent-2);
    transform: rotate(45deg) scale(0);
    margin: auto;
    transition: transform 0.2s ease;
}
input[type="checkbox"]:checked::after {
    transform: rotate(45deg) scale(1);
}
#check-consent {
    font-family: 'PT Sans', Tahoma, Geneva;
    font-size: 14px;
    font-size: 0.875rem;
    font-size: clamp(0.75rem, 2.5dvw, 0.875rem) !important;
    color: var(--accent-3);
} */
.form-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: 700;
}
.form-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.form-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* RESPONSIVE BREAKPOINTS
Controlled by JS .tablet-layout class to sync perfectly with parent modal breakpoint */
html.tablet-layout form[action="partials/contact/form.php"] {
    grid-template-rows:
            min-content
            min-content
            min-content
            min-content
            1fr
            min-content
            min-content
            min-content;
    grid-template-areas:
        "response response"
        "name name"
        "email email"
        "subject subject"
        "content content"
        "consent consent"
        "reset send"
        "signature signature";
    gap: 15px;
    padding: 10px 25px;
}
html.tablet-layout label {
    font-size: 16px;
    font-size: 1rem;
}
html.tablet-layout .form-group.group-content textarea {
    min-height: 260px;
}
html.tablet-layout input[type="reset"],
html.tablet-layout input[type="submit"] {
    font-size: 17.6px;
    font-size: 1.1rem;
}
/* html.tablet-layout #check-consent {
    font-size: 12px;
    font-size: 0.75rem;
} */