/* PREVENT SCROLLING WHEN MODAL IS OPEN */
html.no-scroll,
body.no-scroll {
    overflow: hidden !important;
}

/* MODAL SYSTEM OVERLAY */
#modal-container {
    display: none;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 10002; /* OVER ALL LAYERS */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(6px);
    pointer-events: auto !important;
}
#modal-container.show {
    display: flex;
}

/* MODAL CONTENT */
#modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 90dvw;
    max-height: 90dvh;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
#modal-container.show #modal-content {
    opacity: 1;
}

/* CONTENT TYPES TOGGLING */
#modal-iframe-wrapper {
    display: none;
    width: 90dvw;
    height: 90dvh;
}
#modal-img-wrapper {
    display: none;
    width: auto;
    height: auto;
    max-width: 90dvw;
    max-height: 90dvh;
}

/* PDF & FORM (IFRAME BASED) */
#modal-container.show.pdf #modal-iframe-wrapper,
#modal-container.show.form #modal-iframe-wrapper {
    display: block;
}
#modal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* IMG & CAROUSEL (SCOPED TO PREVENT BREAKING HOME) */
#modal-container.show.image #modal-img-wrapper,
#modal-container.show.carousel #modal-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#modal-img-wrapper img {
    display: block;
    width: 100%;
    max-height: 90dvh;
    object-fit: contain;
    cursor: auto;
}
#modal-img-wrapper .carousel-container {
    width: 90dvw; /* BASE WIDTH */
    max-width: calc(90dvh * (877 / 619)); /* CONSTRAIN BY CONTENT HEIGHT & RATIO */
    aspect-ratio: 877 / 619;
    margin: 0 auto; /* CENTER FOR CONTROLS ALIGNMENT */
    max-height: 90dvh;
}
#modal-img-wrapper .carousel-imgs {
    width: 100%;
}
#modal-img-wrapper .carousel-scrollbar {
    background-color: transparent;
}

/* CLOSE BUTTON */
#modal-close {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: -30px; /* OFFSET RIGHT CORNER */
    right: -30px;
    z-index: 10001;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width: 768px) { /* TABLET */
    #modal-content,
    #modal-img-wrapper {
        max-width: 100dvw;
        width: auto;
    }
    #modal-iframe-wrapper {
        width: 100dvw;
    }
    #modal-img-wrapper .carousel-container {
        width: 100dvw;
        max-width: calc(90dvh * (877 / 619)); /* PROTECTION FOR LANDSCAPE */
    }
    #modal-close {
        top: 10px;
        right: 10px;
    }
}