/* JS DARK MODE BTN */
#theme-dark-btn {
    background-color: var(--accent-2);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
}
#theme-dark-btn:hover {
    transform: scale(1.1);
}

/* DARK MODE FALLBACK */
#dark-fallback {
    all: unset;
    cursor: pointer;
    background-color: var(--accent-2);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}